.event-container {
    position: relative;
    width: 100%;
    height: 30vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.image-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* cursor: pointer; */
    transition: all 0.6s ease;
    z-index: 2;
}

.image-card img {
    width: 40vw;
    /* border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); */
}

.image-card .title {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 80%;
    margin-top: 12px;
    margin-left: 7%;
    margin-right: 7%;
    position: absolute;
    transform: translate(0px, -30.25vw);
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    color: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    font-style: normal;
}

.bottom-title {
    transform: translate(0px, -8vw) !important;
}

.image-card .title b {
    font-family: 'Epilogue', sans-serif;
}

.description {
    position: absolute;
    top: 50%;
    right: 7.5%;
    width: 40vw;
    /* height: 20vw; */
    /* border: black;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); */
    transform: translate(-100px, -50%);
    opacity: 0;
    transition: all 0.6s ease;
    pointer-events: none;
    z-index: 1;
}

.description p {
    background-color: transparent;
    margin-left: 5%;
    margin-right: 5%;
}

/* When activated */
/* .active .image-card {
    left: 27.5%;
}

.active .description {
    pointer-events: all;
    opacity: 1;
    transform: translate(0px, -50%);
} */

.event-container.visible .description {
    pointer-events: all;
    opacity: 1;
    transform: translate(0px, -50%);
}

.event-container.visible .image-card {
    left: 27.5%;
}

#number-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 0vw;
    position: absolute;
    transform: translate(0px, -56vh);
    background-color: transparent;
}

.big-number {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;

    padding-top: 4vh;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.number {
    font-size: 10vw;
    text-align: center;
    color: white;
    background-color: transparent;
}

.bg-image-container {
    position: relative;
    width: 100%;
    z-index: -1;
    background-size: cover;
    overflow: hidden;
    max-width: 100%;
    height: 100vh;
    margin-bottom: 0%;
}

.bg-image {
    position: absolute;
    width: 100%;
    background-size: cover;
    z-index: -1;
    overflow: hidden;
    object-fit: cover;
}